*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* html{
    color-scheme: light dark;
} */

/* .body-tech{
    background-color: rgb(7, 7, 43);
    color: rgb(108, 108, 110);
} */

@media (prefers-color-scheme: dark){
.body-tech{
    background-color: rgb(8, 8, 36);
    color: rgb(108, 108, 110);
} ;
};

.container{
    margin-top: 50px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;


}

.div-btn{
    display: flex;
    gap: 10px;
    align-self: center;
    margin-top: 100px;
    /* border: solid red; */
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.Local-Storage{
width: 150px;
height: 30px;
cursor: pointer;
outline: none;
border: none;
border-radius: 5px;
background-color: aquamarine;
transition: background-color  ease-in-out .3s;
color: black;
font-size: 1rem;
}

.Local-Storage:hover  {
background-color: rgb(7, 7, 43) ;
color:  aquamarine;
}

@media (prefers-color-scheme: light){

    
        .Local-Storage:hover  {
            background-color: rgb(161, 214, 214) ;
            color:  rgb(246, 250, 248);
            }
    
    };
    